body{
    background-color: rgb(132, 253, 150);
}

.aboutme{
    width: 80%;
    margin: 0, auto;
}

#contatti{
    background-color: hsla(0,0% , 0%, 0);
}

.gallery{
    display: flex;
    flex-direction: column;
}

/* X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .gallery{
        flex-direction: row;
    } 
    .gallery figure{
        width: 30%;
    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {}