html {
    font-size: 16px; /* 16px = 1rem */
}

body{
    padding: 1rem;
}

ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}


li{
    font-size: 1.5rem;
}

/* link a riposo */
a, a:link{
    color: hsl(234, 100%, 50%);
    
}

/* cursore su link o focus */
a:visited{
    color: hsl(308, 100%, 51%);
}

/* link premuti */
a:hover, a:focus{
    color: hsl(124, 100%, 50%);
}