html {
    font-size: 16px; /* 16px = 1rem */
}

#page{
    width: 100vw;
    height: 100dvh;
    background-color: rgb(189, 243, 205);
}

.square-1{
    width: 100px;
    background-color: red;
}

.square-2{
    width: 100px;
    background-color: rgb(0, 255, 136);
}

.square-3{
    width: 100px;
    background-color: rgb(234, 0, 255);
}

.circle-1{
    width: 150px;
    border-radius: 50%;
    background-color: purple;
}

.circle-2{
    width: 150px;
    border-radius: 50%;
    background-color: rgb(0, 30, 128);
}

.circle-3{
    width: 150px;
    border-radius: 50%;
    background-color: rgb(0, 128, 4);
}


.shape{
    aspect-ratio: 1/1;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pos-r1{
    position: relative;
    top: 20px;
    left: -20px;
    z-index: 5;
}

.pos-r2{
    position: absolute;
    left: 20px;
    bottom: 0;
    z-index: 5;
}

.pos-r3{
    position: fixed;
    top: 40px;
    left: 50px;
    z-index: 5;
}

.pos-a1{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5;
}

.pos-a2{
    position: absolute;
    top: -20px;
    left: 20px;
    z-index: 4;
}

.pos-a3{
    position: fixed;
    top: 40px;
    left: 50px;
    z-index: 5;
}

.pos-a4{
    position: absolute;
    bottom: 0px;
    left: 45px;
    z-index: 5;
}
